body {
    background-color: hsl(30, 54%, 90%);
    color: hsl(30, 10%, 34%);
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

main {
    background-color: hsl(0, 0%, 100%);
    max-width: 640px;
    margin: 3em auto;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

p, li {
    line-height: 1.5;
}

h1, h2 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}

hr {
    border: none;
    border-top: 1px solid hsl(30, 18%, 87%);
    margin-block: 2em;
}

ul, ol {
    padding-inline-start: 2em;
}

li {
    padding-inline-start: 0.75em;
    margin-block-end: 0.75em;
}

li::marker {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding-block: 0.75em;
    width: 50%;
}

th {
    text-align: left;
    font-weight: 400;
    padding-left: 2em;
}

td {
    font-weight: 600;
    color: hsl(14, 45%, 36%);
}

tr:not(:last-child) {
    border-bottom: 1px solid hsl(30, 18%, 87%);
} 

.recipe__name {
    font-size: 2.25em;
    color: hsl(24, 5%, 18%);
    margin-bottom: 0;
}

.recipe__image {
    width: 100%;
    border-radius: 1em;
}

.recipe__description {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.recipe__preparation-time {
    background-color: hsl(330, 100%, 98%);
    padding: 1.5em;
    border-radius: 0.5em;
    margin-bottom: 2em;
}

.recipe__preparation-time h3 {
    margin-top: 0;
    color: hsl(332, 51%, 32%);
}

.recipe__preparation-time ul {
    margin-bottom: 0;
}

.prep-time-label {
    font-weight: 700;
}